<style>
.h2{
    font-weight: 700;
  
}
.h3{
    color: blue;
    font-size: 12px;
}
.login-container{
    padding: 30px;
    min-height:100%;

    width:100%;
    background-position: center;
    background-size: cover;
}
</style>

<div class="login-container">
<div style="width:40%; margin: 25px auto; border:1px solid black; padding:20px;">

    <div class="alert alert-danger" *ngIf="isInvalid">
        Invalid username and password.
    </div>
    <div class="alert alert-info" *ngIf="isLogout">
        You logged out.
    </div>


    <h1 align="center" class="display-4 mb-5 h2">Log In</h1>
    <form #form='ngForm' (ngSubmit)="onSubmit()">
        <div class="form-group h3">
            <label>Email</label>
            <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Enter email"
                   required autofocus [(ngModel)]="model.username" #email="ngModel" autocomplete="email" >
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email required
            </div>
        </div>

        <div class="form-group h3">
            <label>Password</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password"  autocomplete="password"
                   placeholder="Password" required [(ngModel)]="model.password" #password='ngModel'>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password required
            </div>
        </div>

        <div class="form-group h3">
            <div>
                <input type="checkbox" id="remember_me" name="remember-me" [(ngModel)]="model.remembered">
                <label for="remember_me" class="inline" style="margin-left:3px;">Save</label>
                <a class="float-right" routerLink="/register">Register</a>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!form.form.valid" type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        </div>
    </form>


   

</div>
</div>